$bg-dark:#363740;
$bg-light:#F7F8FC;
$color-text:#4e4e4e;
$color-heading:#f2b705;
$color-active:#f28705;
$color-shadow:rgba(31, 31, 31, 0.507);
$color-line:rgb(158, 158, 158);

$mobile-width:600px;
$tablet-width:1024px;

