@use '../../../sass/'as *;

.siderbar {
	width: 250px;
	height: 100vh;
	background: $bg-light;
	box-shadow: 0px 1px 5px 0px rgba(31, 31, 31, 0.507);
	object-fit: cover;


	&_top {
		min-height: 100px;
		@include flex(center, center);
		border-bottom: 1px solid $color-line;
		padding: 10px 0;
	}

	&_logo {
		font-size: 1.5rem;
		font-weight: bold;
		color: $color-heading;
		background: #fff;
		width: 100px;
		height: 100px;
		display: flex;
		justify-items: center;
		align-items: center;
		border-radius: 50px;
		box-shadow: 0px 1px 5px 0px rgba(31, 31, 31, 0.507);
	}

	&_content {
		padding-top: 25px;
		padding-left: 10px;
		border-bottom: 1px solid $color-line;
		overflow: hidden;
	}

	&_lable {
		font-size: .8rem;
		text-transform: uppercase;
		color: $color-line;
	}

	&_bottom {
		padding-top: 25px;
		margin-left: 10px;
	}

	&_item {
		padding: 8px;
		margin: 10px;
		display: block;
		cursor: pointer;
		color: $color-active;
		font-weight: 400;
		text-decoration: none;
		border-radius: 8px;

		&:hover {
			background-color: #f287052a;
			color: darken($color-active, 20%);
		}

		&.active {

			background-color: #f287052a;
			color: darken($color-active, 20%);

			>.siderbar_title button {
				transform: rotate(90deg);
			}

			>.siderbar_sub {
				height: auto;
			}
		}

	}

	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;


		&_lable {
			display: flex;
			align-items: center;
			color: $color-active;
			text-decoration: none;

			width: 100%;
			&.active {
				padding: 8px;
				border-radius: 8px;
				background-color: #f287052a;
				color: darken($color-active, 20%);

			}
			svg {
				margin-right: 10px;
			}
		}

		span {

			display: flex;
			align-items: center;

			svg {
				margin-right: 10px;

			}
		}

		button {
			cursor: pointer;
			transition: all .5s;
		}
	}

	&_sub {
		transition: height .5s;
		height: 0;
		overflow: hidden;

	}
}